* {
    margin: 0;
    padding: 0;
}

.banner {
    text-align: center;
    margin-top: 40px;
}

.second-section {
    text-align: center;
    padding: 40px;
}

.second-section h1 {
    color: #F00;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 40px 30px;
}

.second-section p {
    color: #F00;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.second-section h3 {
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* #################################### */
.welcome-section {
    background-image: url(/snaps/Vectorrr.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 150px;
}

.welcome-section h1 {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
}

.welcome-section p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.welcome-section button {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: transparent;
}

/* ###################### */
.new-park-section {
    text-align: center;
    padding: 40px;
    background: #FFE9E9;
}

.new-park-section h2 {
    margin: 30px 20px;
}

.btn-join-now {
    padding: 10px;
    border: 1px solid transparent;
    background-color: red;
    border-radius: 5px;
    color: #FFF;
    font-size: 12px;
}

/* ############################# */
.holiday-sell {
    text-align: center;

}

.holiday-sell h5 {
    color: #070211;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 30px 20px;
}

.holiday-sell h1 {
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.holiday-sell p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin: 30px 30px;
}

.first-img {
    display: flex;
}

/* ######################## */

.gift-section h5 {
    color: red;
    margin-top: 70px;
    font-size: 18px;
}

.gift-section h1 {
    font-size: 46px;
    margin: 10px 10px;
}

.gift-section p {
    margin: 15px 15px;
}

.first-grid {
    display: flex;
    gap: 38px;
}

.second-grid {
    display: flex;
    gap: 38px;
}

/* $#$$$$$$$$$$$$$$$$$ */
.newsletter {

    text-align: center;
    margin: 50px;

}

.newsletter h2 {
    margin: 20px;
}

.newsletter p {
    margin: 20px;
}

.newsletter button {
    padding: 10px;
    background-color: red;
    color: #fff;
    border-radius: 5px;
}

/* ####################3 */
.footer-section {
    background-color: #070211;
    color: #fff;
    padding: 60px;
}

.footer-first {
    display: flex;
    justify-content: space-evenly;
}

.social-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.social-end {
    text-align: center;
    margin-top: 40px;
}